*{
    box-sizing: border-box;
}
.container-tkt{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(17, 16, 16);
    height: 100vh;
    /* font-weight: bold; */

}
.seat{
    background-color: #444451;
    height: 25px;
    width: 27px;
    margin: 3px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.row{
    display: flex;


}
.seat.selected{
    background-color: #6feaf6;
}
.occupied{
    background-color: red;
    /* background-color: #444451; */
    /* height: 25px;
    width: 27px;
    margin: 3px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; */
}
.seat:nth-of-type(2){
    margin-right: 18px;
}
.seat:nth-last-of-type(2){
    margin-left: 18px;
}
.seat:not(.occupied):hover{
    cursor: pointer;
    transform: scale(1.2);
}
.showcase .seat:not(.occupied):hover{
    cursor: default;
    transform: scale(1.2);
}
.showcase{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.showcase li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;

}
.showcase .li .small{
    margin-left: 10px;
}
.screen{
    background-color: #fff;
    height: 100px;
    width: 100%;
    margin: 20px 0;
    transform: rotateX('-45deg');
    box-shadow: 0 3px 10px rgba(225, 225, 225, 0.7);

}
.container-seat{
    perspective: 1500px;
    margin-bottom: 30px;

    
}
p.text{
    margin: 5px 0;
}
p.finishtext{
    color: black;
    font-weight: bolder;
}
.backarrow{
    display: flex;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    margin-right: 1300px;
    margin-top: 30px;
    /* position: absolute; */
}

