.container1{
    display: flex;
    background-color: rgb(142, 228, 31);
    /* text-align: center; */
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;  
   

}
.registerpage{
    display: flex;
    /* background-color: red; */
    text-align: left;
    justify-content: center;
    /* min-height: 100vh; */
    flex-direction: column; 
    padding: 3rem;
    border: 1px solid white;
    border-radius: 10px;
    /* margin: 2rem; */

}
.fa-lock{
    display: flex;
    align-items: center;
    justify-content: center;
}
.reg-sub-btn{
    border: none;
    background-color: rgb(28, 140, 214);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.reg-sub-btn:hover{
    color: aqua;
    background-color: rgb(228, 74, 74);
}
.reg-btn{
    color: black;
    text-decoration: underline;
    border: none;
    margin: 20px;
    cursor: pointer;
    background: none;
    color: rgb(194, 14, 14);
}

