.nowpage{
    /* border: 1px solid;  */
    display: flex;
    flex-wrap: wrap;
    margin: 0 5px;
    /* padding: 20px; */
    align-items: center;
    justify-content: space-evenly;
    
    margin-bottom: 20px;
    min-height: 100vh;
    min-width: 100vh;
    background-color: rgb(125, 114, 184);
}  
.nowplaying{
   /* display: flex; */
   /* flex-wrap: wrap; */
   /* align-items: center; */
   justify-content: center;
   /* margin: 0 50px; */
    /* padding: 10px;  */
   border: 1px solid black;
   margin-bottom: 20px;
   background-color: rgb(89, 184, 228);
   
   
}
.np-img1{
   height: 230px;
   width: 230px;
   display: flex;
   margin: 10px;
   /* justify-content: center; */
   /* align-items: center; */
   
   
   
}
.title{
    margin: 10px;
    
}
.average{
    margin: 10px;  
}

/* sidebarcss */
.sidebar{
    margin: 0 3rem;
    border-right: 1px solid;
    
}
.allgeners{
    margin: 0 1rem;
    /* border:  1px solid; */
    
     /* display: grid;
     align-items: left;
     justify-content: space-between; */
     
      
}
li{
    list-style-type: none;
    padding: .5rem;
       
}
.foradd{
    display: flex;
}
.headnowplaying{
    display: block;
}

